{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "template-curly-spacing" : "off",
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "comma-dangle": 1,
    "quotes": [
      1,
      "single"
    ],
    "no-undef": 1,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-console": 1,
    "no-unused-vars": 1,
    "new-cap": 0,
    "camelcase": 0,
    "guard-for-in":0,
    "no-trailing-spaces": [
      1,
      {
        "skipBlankLines": false
      }
    ],
    "no-unreachable": 1,
    "no-alert": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "require-jsdoc": 0,
    "no-invalid-this": 0,
    "space-infix-ops": ["error", { "int32Hint": false }],
    "arrow-spacing": ["error", {"before": true, "after": true}],
    "linebreak-style": ["warn", "unix"],
    "no-debugger": ["warn"]
  }
}
