@import '../../../styles/index.less';

.blue {
  background-color: @primary !important;
}
.blue th {
  font-weight: normal;
  text-transform: uppercase;
}
.table th {
  color: #fff;
}
.table thead th {
  border: none;
}

table tr {
  border-bottom: 1px solid #eee;
}
table tr:last-child {
  border-bottom: none;
}
div#usersInfo table thead tr {
  background-color: @light-grey !important;
}
div#usersInfo table tbody tr {
  background-color: #eee !important;
}
#usersInfo th {
  padding: 5px 10px !important;
  color: @primary;
  text-transform: none;
  border: 1px solid @primary;
}
#usersInfo table {
  border-bottom: 1px solid #2d2d2d;
}
.toggleColumn{
  cursor: pointer;
  background-color: white;
  border: none;
}
.table-hover tbody tr:hover button.toggleColumn{
  background-color: rgba(223, 221, 221, 0.075);
}
button.toggleColumn:focus{
  outline: none;
}
.table .accordionRow > td {
  padding: 0;
}
.textTransformClass{
  text-transform: capitalize;
}

.table a{
  text-transform: none;
}

.react-bootstrap-table{
  margin-bottom: 15px;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.react-bootstrap-table.table-responsive{
  min-height: 50vh;
}