.makePayment.form-control,
.makePayment.form-control:hover,
.makePayment.form-control:focus
{
  background-color: #eaebf1;
}
.input-group > .textWidth.form-control {
  width: 40%;
}

select.makePayment.form-control {
  height: calc(1.2em + 0.75rem + 12px) !important;
  border-radius: 0px 50px 50px 0px!important;
}
.mb-3.input-group {
  margin-bottom: 0px !important;
}

