.tableDropDodownStyle button{
  background-color: transparent;
  border:none;
  color: black;
}

.tableDropDodownStyle button.dropdown-toggle::after {
  display: none;
}

.dropdown-menu .dropdown-item{
  text-transform: initial;
}

#organization .tableDropDodownStyle > .btn-primary:hover,
#organization .tableDropDodownStyle > .btn-primary:active,
#organization .tableDropDodownStyle > .btn-primary.dropdown-toggle,
#organization .tableDropDodownStyle > .btn-primary:focus,
#requestsTable .tableDropDodownStyle > .btn-primary:hover,
#requestsTable .tableDropDodownStyle > .btn-primary:active,
#requestsTable .tableDropDodownStyle > .btn-primary.dropdown-toggle ,
#requestsTable .tableDropDodownStyle > .btn-primary:focus,
#transactionTable .tableDropDodownStyle > .btn-primary:hover,
#transactionTable .tableDropDodownStyle > .btn-primary:active,
#transactionTable .tableDropDodownStyle > .btn-primary.dropdown-toggle ,
#transactionTable .tableDropDodownStyle > .btn-primary:focus,
#orders .tableDropDodownStyle > .btn-primary:hover,
#orders .tableDropDodownStyle > .btn-primary:active,
#orders .tableDropDodownStyle > .btn-primary.dropdown-toggle ,
#orders .tableDropDodownStyle > .btn-primary:focus{
  background-color: unset ;
  border-color: unset;
  color: unset;
  box-shadow: unset;
}