@import '../../../styles/index.less';

.pagination {
  justify-content: center;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.page-item:first-child .page-link {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.page-link {
  padding: 0.5rem 0.85rem !important;
  border: 1px solid @primary !important;
}
