@import "../../../styles/index.less";

 .btn.modalBtnBorder {
  border: 2px solid @primary;
  background-color: white;
  color: @primary;
}

.modal .modal-body input.textForm, .modal select.textForm.custom-select.dropdown.form-control {
  margin: 10px 0;
}

.modal button.SignUpButton.btn.btn-primary {
  padding: 10px 25px;
}
.modal .modal-footer {
  justify-content: center;
}

.modal .modal-body{
  text-align: center;
}
.modal label.form-check-label {
  text-align: left;
}