
.SignUpButton {
    padding: 10px 0px !important;
    width: 100%;
    margin: 30px auto;
    background-color: #4E59E7 !important;
    border: transparent !important;
    border-radius:30px !important;
    /* font-size: 14pt !important;
    font-family: "Geomanist-Regular"; */
}

.SignUpButton:focus{
    box-shadow: none !important;
    background-color: #2A43C8 !important;
}