@import "~bootstrap-less-port/less/bootstrap";
@import "../../../styles/less/Color.less";

.btn.socialBtn {
    width           : 100%;
    padding         : 16px 40px;
    margin-bottom          : 16px;
    background-color: @light-shade ;
    color           : black;
    border-radius   : 16px;
    font-weight     : 400;
    line-height: 24px;
    display: flex;
    font-size: 16px;
    align-items: center;
    align-self: center;
}

.btn.socialBtn img {
    width       : 32px;
    height      : 32px;
    margin-right: 20px;
}

.btn.socialBtn:hover {
    color           : black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

a.socialBtn {
    text-transform: inherit;
}

.submitButton {
    width: 15%;

}

.form-row .form-group select {
    border-radius     : 50px;
    -webkit-appearance: none;
}

/* Generate Preview Button*/
#previewButton {
    border       : 1px solid #eee;
    border-radius: 1npm 0px;
    padding      : 20px;
}

@media screen and (max-width: 567px) {
    .submitButton {
        width : 40%;
        margin: 10px !important;
    }

    .btn.socialBtn {
        padding         : 8px 40px;
        margin-bottom          : 8px;
        color           : black;
        font-size: 16px;
        border-radius   : 8px;
        font-size: 14px;
    }

    .btn.socialBtn img {
        width       : 20px;
        height      : 20px;
        margin-right: 20px;
    }
}