@import "~bootstrap-less-port/less/bootstrap";
@import "../../../styles/less/Color.less";

.tabsTitle {
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.08);
}

.nav-pills .nav-link {
  border-radius: 0 !important;
  min-height: 130px;
  display: flex;
  align-items: center;
  transition: 0.5s all;
  border-bottom: 1px solid @primary;
  color: @card-grey-darker-shade;
}

.nav-pills .nav-link.active {
  color: @primary !important;
  background-color: transparent !important;
  border-left: 10px solid @primary;
}

@media screen and (min-width: 767px) {
/* Scrolling when more than 4 tabs or list */
#dashboardVerticalTab .nav {
  min-height: 520px;
  height: 520px;
  overflow-y: scroll;
  flex-wrap: nowrap !important;
  overflow-x: hidden;
}
}

@media screen and (max-width: 576px) {
  .nav-pills .nav-link.active {
    border-top: 10px solid @primary;
    border-left: none;
    border-bottom: 1px solid @primary;
  }

  .nav-pills .nav-link {
    min-height: 80px;
  }
}
@media screen and (max-width: 425px) {
  #dashboardVerticalTab .tabsTitle{
    margin-bottom: 10%;
  }
}
