@import "~bootstrap-less-port/less/bootstrap";
@import "../../../styles/less/Color.less";

.dashboardSearch .input-group {
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
}

.dashboardSearch input.form-control,
.input-group-append .btn-outline-primary {
  border: none;
  border-radius: 10px;
}

.dashboardSearch button.btn.btn-outline-primary {
  background-color: #309586;
  color: white;
  font-weight: 600;
}
.searchBar {
  border: 1px solid #eee;
  border-radius: 50px;
  padding-right: 20px;
  align-items: center !important;
}

.searchBar input.textForm.form-control
{
  border: 1px solid transparent !important;
  align-items: center;
}

i.fa.fa-search {
  padding: 10px;
}
i.fa.fa-search:hover {
  color: @primary;
}
