@import "~bootstrap-less-port/less/bootstrap";
@import "../../../styles/less/Color.less";
.btn.SignUpButton {
    padding: 0.7rem 1rem;
    margin: 30px 10px;
    background-color: @primary ;
    border: transparent;
    border-radius:30px;
    font-weight: 300;
}

.btn.SignUpButton:focus{
    box-shadow: none ;
    background-color: @purple-dark ;
}
a.SignUpButton {
    text-transform: inherit;
}

.submitButton {
     width: 15%;

}
.form-row .form-group select {
    border-radius: 50px;
    -webkit-appearance: none;
}

/* Generate Preview Button*/
#previewButton {
    border: 1px solid #eee;
    border-radius: 1npm 0px;
    padding: 20px;
}

@media screen and (max-width: 567px){
     .submitButton {
        width: 40%;
        margin: 10px !important;
    }
}