.currencies-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.currencies-group > .row > .carousel-card {
  color: black;
  display: inline-block;
  padding: 3px;
}

.carousel-card.selected {
  background-color: #4e59e7;
  opacity: 0.9;
}
