@import '../../../styles/index.less';

.listgroupPadding {
  padding: 0rem !important;
}
.listgroupDetails {
  color: @grey-dark;
  text-align: left;
  font-weight: @font-weight-light;
}
.listGroupCard {
  overflow: auto;
}
.listInfo {
  color: @card-grey-darker-shade;
  font-size: 10pt;
}

.listgroup-overflow {
  overflow-x: auto;
}
.list-group-item{
  width: fit-content;
}

.listgroupNameHead{
  font-size: 13pt !important;
  font-weight: @font-weight-meduim;
  display: block;
  text-align: left;
  
}
.listgroupCardPadding{
   padding: 0rem !important;
}

#dashboardVerticalTab .nav-item a:hover, #dashboardVerticalTabIssuer .nav-item a:hover {
  background: @light-shade !important;
  border-bottom: 1px solid #4E59E7;
}

.card {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.06);
  border: none !important;
  padding: 10px 0px;
  width: 100%;
}

.rounded-circle {
  width: 80px;
}
.listGroupCard .col-sm-3 {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.list-group-item {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .listgroupNameHead {
    font-size: 16px !important;
  }
}