.dashboard-request-card .request-card-padding {
  padding: 0.75rem 1rem;
}

.dashboard-request-card {
 min-height: 6rem;
 margin-bottom: 1rem;
 box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.06);
}
.request-card-padding p, .request-card-padding h3 {
  text-align: left;
}
.request-card-padding h3 {
  font-size: 12pt;
}

.dashboard-request-card.card {
  transition: all .2s ease-in-out;
}

.dashboard-request-card.card:hover {
  transform: scale(1.1);
}