#investors {

}

@media screen and (max-width: 320px){
  .SignUpButton.managerBtn {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}

.SignUpButton.managerBtn {
  margin: 5px 0px;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}
