@media (max-width: 576px) {
  .requestSearchBar.searchBar.input-group {
    width: calc(100% + 15px);
  }
  .dropdownBtn.requestFilterButton {
    padding-left: 0px !important;
    margin-left: -10px;
  }
  .dropdownBtn.requestFilterButton > .btn {
    font-size: 0.8rem;
  }
}
