
@carousel-control-color:             @white;
@carousel-control-width:             15%;
@carousel-control-opacity:           0.5;
@carousel-control-hover-opacity:     0.9;
@carousel-control-transition:        opacity 0.15s ease;

@carousel-indicator-width:           30px;
@carousel-indicator-height:          3px;
@carousel-indicator-hit-area-height: 10px;
@carousel-indicator-spacer:          3px;
@carousel-indicator-active-bg:       @white;
@carousel-indicator-transition:      opacity 0.6s ease;

@carousel-caption-width:             70%;
@carousel-caption-color:             @white;

@carousel-control-icon-width:        20px;

@carousel-control-prev-icon-bg:      %(~'url("data:image/svg+xml,%s%s%s")', "%3csvg xmlns='http://www.w3.org/2000/svg' fill='", replace("@{carousel-control-color}", "#", "%23"), "' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
@carousel-control-next-icon-bg:      %(~'url("data:image/svg+xml,%s%s%s")', "%3csvg xmlns='http://www.w3.org/2000/svg' fill='", replace("@{carousel-control-color}", "#", "%23"), "' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");

@carousel-transition-duration:       0.6s;
@carousel-transition:                transform @carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity 0.5s ease-out`)
