@purple: #4E59E7;
@green: #08C0B5;
@orange: #FF8F2F;
@light-shade: #EFF2FF;
@grey-light-shade : #F7F7F9;
@grey-darker-shade: #8E8E97;
@custom-card-text-grey-dark-shade :#C7C8CE;
@card-grey-darker-shade : #393939;
@purple-light-shade: #B9C4FF;
@purple-dark-shade: #2A43C8;
@orange-light-shade: #FDCEA5;
@orange-dark-shade: #E1781E;

@primary: @purple;
@secondary: @green;
@orange-shade :@orange;
@success: @green;
@info: @cyan;
@warning: @yellow;
@danger: @red;
@light-grey: @light-shade;
@grey-light: @grey-light-shade;
@grey-dark: @grey-darker-shade;
@purple-light: @purple-light-shade;
@purple-dark: @purple-dark-shade;
@orange-light: @orange-light-shade;
@orangeDark: @orange-dark-shade;
