@formInput-custom-border-radius: 1.25rem;
@custom-input-text :#393939;
@custom-input-box-shadow: none;
@custom-input-border-color: #393939;
@custom-input-placeholder-text: #C7C8CE;

@label-margin-bottom:                   0.5rem;

@input-padding-y:                       @input-btn-padding-y;
@input-padding-x:                       @input-btn-padding-x;
@input-font-family:                     @input-btn-font-family;
@input-font-size:                       @input-btn-font-size;
@input-font-weight:                     @font-weight-base;
@input-line-height:                     @input-btn-line-height;

@input-padding-y-sm:                    @input-btn-padding-y-sm;
@input-padding-x-sm:                    @input-btn-padding-x-sm;
@input-font-size-sm:                    @input-btn-font-size-sm;
@input-line-height-sm:                  @input-btn-line-height-sm;

@input-padding-y-lg:                    @input-btn-padding-y-lg;
@input-padding-x-lg:                    @input-btn-padding-x-lg;
@input-font-size-lg:                    @input-btn-font-size-lg;
@input-line-height-lg:                  @input-btn-line-height-lg;

@input-bg:                              @white;
@input-disabled-bg:                     @gray-200;

@input-color:                           @gray-700;
@input-border-color:                    @gray-400;
@input-border-width:                    @input-btn-border-width;
@input-box-shadow:                      inset 0 1px 1px fade(@black, 7.5%);

@input-border-radius:                   @formInput-custom-border-radius;
@input-border-radius-lg:                @border-radius-lg;
@input-border-radius-sm:                @border-radius-sm;

@input-focus-bg:                        @input-bg;
@input-focus-border-color:              @custom-input-border-color;
@input-focus-color:                     @custom-input-text;
@input-focus-width:                     @input-btn-focus-width;
@input-focus-box-shadow:                @custom-input-box-shadow;

@input-placeholder-color:               @custom-input-placeholder-text;
@input-plaintext-color:                 @body-color;

@input-height-border:                   (@input-border-width * 2);

// LESS PORT: Using format strings here so we can put computed values in the `calc()`.
@input-height-inner:                    %(~"calc(%s + %s)",      (@input-line-height *    1em), (@input-padding-y * 2));
@input-height-inner-half:               %(~"calc(%s + %s)",      (@input-line-height *  0.5em), (@input-padding-y    ));
@input-height-inner-quarter:            %(~"calc(%s + %s)",      (@input-line-height * 0.25em), (@input-padding-y / 2));

// LESS PORT: Using format strings here so we can put computed values in the `calc()`.
@input-height:                          %(~"calc(%s + %s + %s)", (@input-line-height    * 1em), (@input-padding-y        * 2), @input-height-border);
@input-height-sm:                       %(~"calc(%s + %s + %s)", (@input-line-height-sm * 1em), (@input-btn-padding-y-sm * 2), @input-height-border);
@input-height-lg:                       %(~"calc(%s + %s + %s)", (@input-line-height-lg * 1em), (@input-btn-padding-y-lg * 2), @input-height-border);

@input-transition:                      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

@form-text-margin-top:                  0.25rem;

@form-check-input-gutter:               1.25rem;
@form-check-input-margin-y:             0.3rem;
@form-check-input-margin-x:             0.25rem;

@form-check-inline-margin-x:            0.75rem;
@form-check-inline-input-margin-x:      0.3125rem;

@form-grid-gutter-width:                10px;
@form-group-margin-bottom:              1rem;

@input-group-addon-color:               @input-color;
@input-group-addon-bg:                  @gray-200;
@input-group-addon-border-color:        @input-border-color;

@custom-forms-transition:               background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

@custom-control-gutter:                 0.5rem;
@custom-control-spacer-x:               1rem;

@custom-control-indicator-size:         1rem;
@custom-control-indicator-bg:           @input-bg;

@custom-control-indicator-bg-size:      50% 50%;
@custom-control-indicator-box-shadow:   @input-box-shadow;
@custom-control-indicator-border-color: @gray-500;
@custom-control-indicator-border-width: @input-border-width;

@custom-control-indicator-disabled-bg:          @input-disabled-bg;
@custom-control-label-disabled-color:           @gray-600;

@custom-control-indicator-checked-color:        @component-active-color;
@custom-control-indicator-checked-bg:           @component-active-bg;
@custom-control-indicator-checked-disabled-bg:  fade(theme-color(primary), 50%);
@custom-control-indicator-checked-box-shadow:   none;
@custom-control-indicator-checked-border-color: @custom-control-indicator-checked-bg;

@custom-control-indicator-focus-box-shadow:     @input-focus-box-shadow;
@custom-control-indicator-focus-border-color:   @input-focus-border-color;

@custom-control-indicator-active-color:         @component-active-color;
@custom-control-indicator-active-bg:            lighten(@component-active-bg, 35%);
@custom-control-indicator-active-box-shadow:    none;
@custom-control-indicator-active-border-color:  @custom-control-indicator-active-bg;

@custom-checkbox-indicator-border-radius:       @border-radius;
@custom-checkbox-indicator-icon-checked:        %(~'url("data:image/svg+xml,%s%s%s")', "%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='", replace("@{custom-control-indicator-checked-color}", "#", "%23"), "' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");

@custom-checkbox-indicator-indeterminate-bg:           @component-active-bg;
@custom-checkbox-indicator-indeterminate-color:        @custom-control-indicator-checked-color;
@custom-checkbox-indicator-icon-indeterminate:         %(~'url("data:image/svg+xml,%s%s%s")', "%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='", replace("@{custom-checkbox-indicator-indeterminate-color}", "#", "%23"), "' d='M0 2h4'/%3e%3c/svg%3e");
@custom-checkbox-indicator-indeterminate-box-shadow:   none;
@custom-checkbox-indicator-indeterminate-border-color: @custom-checkbox-indicator-indeterminate-bg;

@custom-radio-indicator-border-radius:          50%;
@custom-radio-indicator-icon-checked:           %(~'url("data:image/svg+xml,%s%s%s")', "%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='", replace("@{custom-control-indicator-checked-color}", "#", "%23"), "'/%3e%3c/svg%3e");

@custom-switch-width:                           (@custom-control-indicator-size * 1.75);
@custom-switch-indicator-border-radius:         (@custom-control-indicator-size / 2);
@custom-switch-indicator-size:                  %(~"calc(@{custom-control-indicator-size} - %s)", (@custom-control-indicator-border-width * 4));

@custom-select-padding-y:           @input-padding-y;
@custom-select-padding-x:           @input-padding-x;
@custom-select-font-family:         @input-font-family;
@custom-select-font-size:           @input-font-size;
@custom-select-height:              @input-height;
@custom-select-indicator-padding:   1rem; // Extra padding to account for the presence of the background-image based indicator
@custom-select-font-weight:         @input-font-weight;
@custom-select-line-height:         @input-line-height;
@custom-select-color:               @input-color;
@custom-select-disabled-color:      @gray-600;
@custom-select-bg:                  @input-bg;
@custom-select-disabled-bg:         @gray-200;
@custom-select-bg-size:             8px 10px; // In pixels because image dimensions
@custom-select-indicator-color:     @gray-800;
@custom-select-indicator:           %(~'url("data:image/svg+xml,%s%s%s")', "%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='", replace("@{custom-select-indicator-color}", "#", "%23"), "' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
@custom-select-background:          ~"@{custom-select-indicator} no-repeat right @{custom-select-padding-x} center/@{custom-select-bg-size}"; // Used so we can have multiple background elements (e.g., arrow and feedback icon)

// LESS PORT: Using format strings here so we can put computed values in the `calc()`.
@custom-select-feedback-icon-padding-right: %(~"calc((1em + %s) * 3 / 4 + %s)", (2 * @custom-select-padding-y), (@custom-select-padding-x + @custom-select-indicator-padding));
@custom-select-feedback-icon-position:      center right (@custom-select-padding-x + @custom-select-indicator-padding);
@custom-select-feedback-icon-size:          @input-height-inner-half @input-height-inner-half;

@custom-select-border-width:        @input-border-width;
@custom-select-border-color:        @input-border-color;
@custom-select-border-radius:       @border-radius;
@custom-select-box-shadow:          inset 0 1px 2px fade(@black, 7.5%);

@custom-select-focus-border-color:  @input-focus-border-color;
@custom-select-focus-width:         @input-focus-width;
@custom-select-focus-box-shadow:    0 0 0 @custom-select-focus-width @input-btn-focus-color;

@custom-select-padding-y-sm:        @input-padding-y-sm;
@custom-select-padding-x-sm:        @input-padding-x-sm;
@custom-select-font-size-sm:        @input-font-size-sm;
@custom-select-height-sm:           @input-height-sm;

@custom-select-padding-y-lg:        @input-padding-y-lg;
@custom-select-padding-x-lg:        @input-padding-x-lg;
@custom-select-font-size-lg:        @input-font-size-lg;
@custom-select-height-lg:           @input-height-lg;

@custom-range-track-width:          100%;
@custom-range-track-height:         0.5rem;
@custom-range-track-cursor:         pointer;
@custom-range-track-bg:             @gray-300;
@custom-range-track-border-radius:  1rem;
@custom-range-track-box-shadow:     inset 0 0.25rem 0.25rem fade(@black, 10%);

@custom-range-thumb-width:                   1rem;
@custom-range-thumb-height:                  @custom-range-thumb-width;
@custom-range-thumb-bg:                      @component-active-bg;
@custom-range-thumb-border:                  0;
@custom-range-thumb-border-radius:           1rem;
@custom-range-thumb-box-shadow:              0 0.1rem 0.25rem fade(@black, 10%);
@custom-range-thumb-focus-box-shadow:        0 0 0 1px @body-bg, @input-focus-box-shadow;
@custom-range-thumb-focus-box-shadow-width:  @input-focus-width; // For focus box shadow issue in IE/Edge
@custom-range-thumb-active-bg:               lighten(@component-active-bg, 35%);
@custom-range-thumb-disabled-bg:             @gray-500;

@custom-file-height:                @input-height;
@custom-file-height-inner:          @input-height-inner;
@custom-file-focus-border-color:    @input-focus-border-color;
@custom-file-focus-box-shadow:      @input-focus-box-shadow;
@custom-file-disabled-bg:           @input-disabled-bg;

@custom-file-padding-y:             @input-padding-y;
@custom-file-padding-x:             @input-padding-x;
@custom-file-line-height:           @input-line-height;
@custom-file-font-family:           @input-font-family;
@custom-file-font-weight:           @input-font-weight;
@custom-file-color:                 @input-color;
@custom-file-bg:                    @input-bg;
@custom-file-border-width:          @input-border-width;
@custom-file-border-color:          @input-border-color;
@custom-file-border-radius:         @input-border-radius;
@custom-file-box-shadow:            @input-box-shadow;
@custom-file-button-color:          @custom-file-color;
@custom-file-button-bg:             @input-group-addon-bg;
@custom-file-text: {
	en: "Browse";
};