@table-cell-padding:          0.75rem;
@table-cell-padding-sm:       0.3rem;

@table-color:                 @body-color;
@table-bg:                    ~""; // LESS PORT: Sass version uses `null`
@table-accent-bg:             fade(@black, 5%);
@table-hover-color:           @table-color;
@table-hover-bg:              fade(@black, 7.5%);
@table-active-bg:             @table-hover-bg;

@table-border-width:          @border-width;
@table-border-color:          @border-color;

@table-head-bg:               @gray-200;
@table-head-color:            @gray-700;

@table-dark-color:            @white;
@table-dark-bg:               @gray-800;
@table-dark-accent-bg:        fade(@white, 5%);
@table-dark-hover-color:      @table-dark-color;
@table-dark-hover-bg:         fade(@white, 7.5%);
@table-dark-border-color:     lighten(@table-dark-bg, 7.5%);
@table-dark-color:            @white;

@table-striped-order:         odd;

@table-caption-color:         @text-muted;

@table-bg-level:              -9;
@table-border-level:          -6;