@import "~bootstrap-less-port/less/bootstrap";
@import "./Color.less";

#requestsTable nav.nav.nav-tabs,
#transactionTable nav.nav.nav-tabs {
  background: @primary;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#requestsTable .nav-tabs .nav-link,
#transactionTable .nav-tabs .nav-link {
  color: white;
}

#requestsTable .nav-tabs .nav-link.active,
#transactionTable .nav-tabs .nav-link.active {
  color: @primary;
  font-weight: 300;
  background: #ffffff;
  -webkit-box-shadow: 0px -3px 6px 0px rgba(78, 89, 231, 0.54);
  -moz-box-shadow: 0px -3px 6px 0px rgba(78, 89, 231, 0.54);
  box-shadow: 0px -3px 6px 0px rgba(78, 89, 231, 0.54);
  border-radius: 10px 10px 0 0;
}

#requestsTable .nav-tabs .nav-link.active,
#requestsTable .nav-tabs .nav-link.active {
  font-weight: 300;
}

#requestsTable th,
#transactionTable th {
  background-color: #eff2ff !important;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: normal;
}

#requestsTable table th,
#transactionTable table th {
  font-weight: 400;
  color: #626262;
}

@media screen and (max-width: 567px) {
  #requestsTable .nav-tabs .nav-link.active,
  #transactionTable .nav-tabs .nav-link.active {
    font-weight: 300;
    width: -webkit-fill-available;
  }
  #requestsTable .nav-tabs .nav-link,
  #transactionTable .nav-tabs .nav-link{
    width: -webkit-fill-available;
  }
}
