
@toast-max-width:                   350px;
@toast-padding-x:                   0.75rem;
@toast-padding-y:                   0.25rem;
@toast-font-size:                   0.875rem;
@toast-color:                       ~""; // LESS PORT: Sass version uses `null`
@toast-background-color:            fade(@white, 85%);
@toast-border-width:                1px;
@toast-border-color:                rgba(0, 0, 0, 0.1);
@toast-border-radius:               0.25rem;
@toast-box-shadow:                  0 0.25rem 0.75rem fade(@black, 10%);

@toast-header-color:                @gray-600;
@toast-header-background-color:     fade(@white, 85%);
@toast-header-border-color:         rgba(0, 0, 0, 0.05);